[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
docker = "*"
openai = "*"
anthropic = "*"
httpx = "*"
requests = "*"
tqdm = "*"
pyyaml = "*"
tabulate = "*"
termcolor = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
fabric = "*"
psycopg2-binary = "*"
locust = "*"
faker = "*"
pydantic = "*"
beautifulsoup4 = "*"
psutil = "*"
pyperclip = "*"
natsort = "*"
black = "*"
isort = "*"
seaborn = "*"
openapi-spec-validator = "*"

[dev-packages]
mypy = "*"
black = "*"
isort = "*"

[requires]
python_version = "3.12"
