[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
docker = "*"
openai = "*"
anthropic = "*"
httpx = "*"
requests = "*"
tqdm = "*"
pyyaml = "*"
tabulate = "*"
termcolor = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
fabric = "*"
psycopg2-binary = "*"
locust = "*"
faker = "*"
pydantic = "*"

[dev-packages]
mypy = "*"


[requires]
python_version = "3.12"
